* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #333;
}

.box {
    width: 100px;
    height: 100px;
    text-align: center;
}

.box-1{
    background-color: lightcoral;
   /* position: relative;
    border-radius: 50px;
    top: 100px;
    left: 100px;*/
    position: absolute;
    right: 0;
    bottom: 0;
}

.box-2 {
    position: absolute;
    background-color: lightgreen;
   /* position: relative;*/
     width: 200px;
    top: 50px;
    
}