boy{
    background-color: #333;
    color: #fff;
}

.block{
    background-color: purple;
    width: 200px;
    height: 200px;
    margin: 100px 50px 10px 200pxs;
    padding: 20px;
}

.inline{
    background-color: lightcoral;
    width: 200px;
    height: 200px;
}
